<div class="row bg-white shadow rounded bg-left-padding bg-y-margin">
  <div class="col-md-6">
    <h1>Editando Consultorio </h1>

    <%= render 'form', office: @office %>

    <%= link_to 'Regresar', root_path %>
  </div>
</div>

