
<div class="mx-auto bg-white shadow rounded p-3">
  <h2 class="main-header">Crear Consultorio</h2>
  <div class="row">
    <div class="col-md-6">
        <%= render 'form', office: @office %>
    </div>
  </div>

  <p class="back-btn"><strong><%= link_to 'Regresar', root_path %></strong></p>
</div>