<div class="row bg-white shadow rounded my-meetings ">
  <div class="col-md-12">
    <h2 class="main-header text-center">Mis Consultas</h2>
    <br>
    <h5>Consultas agendadas para el día de hoy</h5>
    <table class="table"> 
      <thead>
        <tr>
          <th>Hora</th>
          <th>Doctor</th>
        </tr>
      </thead>
      <tbody>
      <% @today_meetings.each do |m| %>
        <tr>
          <td><%= m.start_time.strftime('%H:%M %p') %></td>
          <td><%= m.doctor.full_name %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <br>
    <h5>Consultas</h5>
    <table class="table"> 
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Doctor</th>
        </tr>
      </thead>
      <tbody>
      <% @previous_meetings.each do |m| %>
        <tr>
          <td><%= m.start_time.strftime('%d/%m/%Y %H:%M %p') %></td>
          <td><%= m.doctor.full_name %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>