<h1 style="color:#b84300" font="font-family:verdana"> <strong>Editing Entry </strong></h1></h1>

<%= render 'form', entry: @entry %>

<%= link_to 'Show', @entry %> |
<%= link_to 'Back', entries_path %>
