<div class="main-header">
<h1><strong>Nueva Entrada</strong></h1>
</div>

<div class="bg-white shadow rounded p-3 input-group-lg">
<%= render 'form', entry: @entry %>
<br>
<p style="font-family:verdana;font-size:17px;"><strong><%= link_to 'Regresar', root_path %></strong></p>

</div>

