
<div class="bg-white shadow rounded p-3">
  <div class="main-header">
  <h1><strong>Nueva Entrada</strong></h1>
  </div>
  <%= render 'form', entry: @entry %>
  <br>
  <p class="back-btn"><strong><%= link_to 'Regresar', root_path %></strong></p>

</div>

