
<h1 style="color:#b84300" font="font-family:verdana"> <strong>Nueva Entrada</strong></h1>

<div class="bg-white shadow rounded p-3 input-group-lg">
<%= render 'form', entry: @entry %>
<br>
<p style="font-family:verdana;font-size:17px;"><strong><%= link_to 'Back', root_path %></strong></p>


<%= link_to 'Regresar', root_path %>
</div>

