<div class="main-header">
<h1><strong>Crear Receta</strong></h1>
</div>
<div class="bg-white shadow rounded p-3 input-group-lg">
<%= render 'form', prescription: @prescription %>

<p style="font-family:verdana;font-size:17px;"><strong><%= link_to 'Regresar', prescriptions_path %></strong></p>
</div>
