<div class="bg-white shadow rounded p-3 input-group-lg">
  <div class="main-header">
  <h1><strong>Crear Receta</strong></h1>
  </div>
  <%= render 'form', prescription: @prescription %>

  <p class="back-btn"><strong><%= link_to 'Regresar', prescriptions_path %></strong></p>
</div>
