<div class="row bg-white shadow rounded p-3">
  <div class="col-md-6">
    <p id="notice"><%= notice %></p>
    <h2>Receta</h2>
    <b>Paciente: </b> <%= Patient.find(@prescription.patient_id).full_name%>
    <b>Fecha: </b> <%= @prescription.date %>
    <br>
    <b>Indicaciones: </b> 
    <%= @prescription.body %>
    <br>
  </div>
</div>






