

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="d-flex flex-grow-1">
        <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
        <a class="navbar-brand" href="<%= root_path%>">
            <img src="/assets/logo" width="50" height="50" class="d-inline-block align-middle"/>
            MediApp
        </a>
    </div>
    <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar7">
        <ul class="navbar-nav ml-auto flex-nowrap">
            <li class="nav-item">
              <%= link_to "Log out", destroy_user_session_path, :method => :delete, class: "nav-link" %>
            </li>
        </ul>
    </div>
</nav>